:root {
    --main-bg-color-light: #f8f8f8;
    --main-txt-color-light: #101010;
    --main-bg-color-dark: #000000;
    --main-txt-color-dark:#fff;
    --main-padding: 15px;
  }
body,html{
    background-color: var(--main-bg-color-light);
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
    border:0;
    width:100%;
}
*{
    
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.darkmode{
    background-color: var(--main-bg-color-dark);
    color: var(--main-txt-color-dark);
}
.onlyDesktop{
    display:block;
}
.onlyMobile{
    display:none;
}
.d-block{
    display: block;
}
.d-inline-block{
    display:inline-block;
}
.d-inline{
    display: inline;
}
.d-table{
    display: table;
}
.d-table-cell{
    display: table-cell;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.h-100{
    height: 100%;
}
.m-auto{
    margin: 0 auto;
}
.m-t-20{
    margin-top:20%;
}
.p-l-r-15{
    padding-left: 15px;
    padding-right: 15px;
}
.w-auto{
    width: auto;
}
.float-l{
    float: left;
}
.float-r{ 
    float:right;
}
.h-100{
    height:100%;
}
a{
    text-decoration: none;
}
/**************************Header***********************/
.header{
    display: block;
    width: 100%;
    background-color: #90caf9;
    height:80px;
    z-index:10;
}

.headerContainer{
    max-width:1000px;
}
.logo-container .logo {
    font-size: 30px;
    font-weight: 500;
    color: white;
    vertical-align: middle;
}
.logoImg{
    height:100%;
    padding:15px;
    width:auto;
}
.logo-container .logo span{
    font-weight: 200;
}
.navigation li{
    height:100%;
    display: table-cell;
    font-size:20px;
    padding: 10px;
    cursor: pointer;
}

.navigation li a{
    color:#fff;
    padding:7px 13px;
    border-radius: 5px;
}
.navigation li.active a,.navigation li a:hover{
    background: #5d99c6;
}
.navigation li a:hover{
    transition: 0.5s;
}
.navigation li:last-child{
    padding-right: 0px;
}


.navIcon{ color: #fff;font-size:30px;height:100%;line-height:80px;cursor: pointer;}
/***********************Body**********************************/
.fab{
    width: 60px;
   height: 60px;
   background-color:#90caf9;
   color:#fff;
   border-radius:50%;
   position: fixed;
   right: 20px;
   bottom: 20px;
}
.fab .fa-envelope{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.contentContainer1{
    max-width:1000px;
    display: block;
    margin:0 auto;
}
.leftContentContainer1{
    width:50%;
    float:left;
}
.rightContentContainer1{
    width:50%;
    float:right;
}
.rightContentContainer1 imageContainer{
    width: 100%;
    height: auto;
}
.imageContainer img{
    width:100%;
    height:100%;
}
.textContentContainer1,.imageContainer{
    margin:0 15px;
}
.textContentContainer1{
    padding-top:20%;
}
/************************Mobile View*************************/
@media only screen and (max-width:768px){
    .onlyDesktop{
        display: none;
    }
    .onlyMobile{
        display: block;
    }
    .leftContentContainer1,.rightContentContainer1{
        width:100%;
        margin:0 auto;
        float:none;
        text-align: center;
        font-size:80%;
    }
    .textContentContainer1{
        padding-top:0%;
    }
    .headerLinks{
        background-color: #90caf9;
        display: block;
        padding:0px;
        margin:0px;
        display: none;
    }
    .mobNavigation{
        padding:0px;
        margin:0px;
    }
    .mobNavigation li{
        text-align: center;
        font-size: large;
        padding:15px;
    }
    .mobNavigation li a{
        color:#fff;
    }
    .mobNavigation li.active, .mobNavigation li:hover{
        background-color:#5d99c6 ;
    }
}